<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sunshine.com</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
</head>
<body>
	<header th:replace="header::sunshine-nav(${title},${services})" id="main-header"></header>
	<div
		style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
		<div style="height: 100vh; width: 70vw; text-align: center;">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis saepe
			dolores aliquam assumenda voluptatum fuga minus a laudantium facere
			iure odit aperiam! Quis voluptatum rerum itaque tempore cumque
			doloribus adipisci eos quibusdam officiis dolores non aliquid ipsum
			sint exercitationem sequi veniam debitis quam culpa incidunt nihil.
			Impedit cumque ipsa quod omnis ipsam quam atque unde officiis
			perferendis mollitia quidem hic commodi molestias. Porro recusandae
			quod quae vitae alias suscipit blanditiis totam quis hic maxime
			doloribus illo quaerat aliquam non quia incidunt iure aperiam omnis
			eaque pariatur dolore sunt placeat quos fuga molestias a corporis
			commodi sint voluptates rerum culpa dignissimos explicabo repellat
			dolores adipisci nihil tempore atque facilis repudiandae veniam
			dolorum animi! Modi asperiores perferendis magni obcaecati quo ad
			laborum nisi assumenda eaque voluptatum maiores delectus velit quia
			eos repudiandae doloremque enim earum id fugiat aperiam sed quidem
			similique dolorem at alias incidunt excepturi possimus tenetur magnam
			et laudantium accusantium vero beatae ipsa dignissimos nemo aliquid
			corporis sit iusto reprehenderit. Nobis accusamus ducimus
			perspiciatis earum exercitationem debitis nemo vel quos nam illum
			iure delectus laborum saepe rem aspernatur! Cupiditate et pariatur
			suscipit dolore veniam maiores commodi aliquam veritatis alias eaque
			praesentium tempore totam nam vitae porro cumque perspiciatis itaque
			deleniti dolorum nesciunt reprehenderit ipsa harum omnis! Similique
			accusantium inventore sapiente facilis dolores. Fugit rem non est
			eius accusamus sequi dolore tenetur sed unde quidem! Explicabo
			numquam odio facere ea necessitatibus nam et quae blanditiis ratione
			dolor architecto illo adipisci obcaecati praesentium quisquam
			voluptas fugiat laboriosam provident inventore fuga. Obcaecati et
			officiis dicta consectetur atque possimus repellendus blanditiis
			ratione sunt necessitatibus magni est culpa aut sed cumque aliquam
			esse distinctio ut at nostrum. Id doloremque itaque temporibus
			dolores optio excepturi mollitia unde delectus. Odio ea consequatur
			tempora culpa fugiat quae provident odit. Odit temporibus aspernatur
			aliquam repellendus sunt sed nihil cumque quaerat? Possimus dolore
			dolorem quas reiciendis inventore. Natus quisquam adipisci pariatur
			doloribus perferendis doloremque atque libero repudiandae quis
			quaerat. Temporibus minus dignissimos voluptatum asperiores
			praesentium voluptatibus reprehenderit non et officia numquam nobis
			magni veniam dolorum nulla voluptatem earum hic aliquid in. Veritatis
			similique culpa aut illum voluptatum accusamus temporibus ut nisi
			quia reiciendis impedit hic earum minus placeat omnis repellat non
			recusandae provident libero natus deleniti optio vero nemo ab
			incidunt neque nam numquam doloremque aliquam nihil tenetur
			distinctio voluptas itaque beatae facilis aliquid iure. Tempore
			nostrum accusamus laudantium earum iure nulla veritatis doloremque
			harum beatae reiciendis. Est ipsam sunt.</div>
	</div>
	<footer th:replace="footer::sunshine-footer"></footer>
</body>
</html>
